<footer>
  <nav class="pagination">
    <ul class="pagination__list">
      <li class="pagination__group">
        <a href="#" class="pagination__item pagination__control pagination__control_prev">prev</a>
      </li>
      <li class="pagination__group">
        <a href="#" class="pagination__item">1</a>
      </li>
      <li class="pagination__group">
        <span class="pagination__item pagination__item_active">2</span>
      </li>
      <li class="pagination__group">
        <a href="#" class="pagination__item">3</a>
      </li>
      <li class="pagination__group">
        <a href="#" class="pagination__item pagination__control pagination__control_next">next</a>
      </li>
    </ul>
  </nav>

  <p>Total images: 255</p>
</footer>
